.Checkout{
  
  position: absolute;
  top: -180px;
  width: 800px;
  border:2px solid black;
  margin-top: -60px;
  &__Table{
    overflow: auto;
    text-align:justify;

    margin: 0 auto;
    background-color: white;
    
    table, th, td {
      border:1px solid black;
    }
    td{
      height: 70px;
      img{
        width: 50px;
        height: 50px;
        object-fit: cover;
      }
    }
  }
}
