.slide-content {
    margin-top: 16px;
    h4 {
        padding-bottom: 5px;
    }
    div {
        margin-bottom: 16px;
        border-bottom: 2px solid #ededed;
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .slide-content {
        display: none;
    }
}